echo "[Docker builder] Incremental build of {{ series }}.{{ layer }} namespace {{ namespace }}."

mkdir -p {{ namespace }} && cd {{ namespace }}
CCACHE_DIR=/opt/ccache PATH=/usr/lib/ccache:/opt/od4/bin:$PATH cmake -D CXXTEST_INCLUDE_DIR=/opt/{{ series }}.{{ layer }}.sources/thirdparty/cxxtest -D OPENDAVINCI_DIR=/opt/od4 -D ODVDOPENDLVSTANDARDMESSAGESET_DIR=/opt/opendlv.core -D EIGEN3_INCLUDE_DIR=/opt/od4/include/opendavinci -D CMAKE_INSTALL_PREFIX=/opt/{{ series }}.{{ layer }} /opt/{{ series }}.{{ layer }}.sources/code/{{ namespace }}

CCACHE_DIR=/opt/ccache PATH=/usr/lib/ccache:/opt/od4/bin:$PATH make -j4 && make test && make install

cd ..
